.reveal .custom-autor {
    margin-top: 1em;
}

.reveal .custom-curtir {
    margin: 1em;
}

.reveal .custom-clareza,
.reveal .custom-concisao {
    position: absolute;
    font-size: 600%;
    text-transform: uppercase;
    font-family: 'League Gothic';
    text-shadow: 1px 1px rgba(0,0,0,0.6);
}

.reveal .custom-clareza {
    bottom: 50%;
    left: 19%;
    color: rgba(230, 20, 20, 0.8);
}

.reveal .custom-clareza.visible {
    transform: rotate(-45deg) !important;
}

.reveal .custom-concisao {
    transform: scale(2) !important;
    color: rgba(20, 20, 230, 0.8);
    top: 45%;
    left: 15%;
}

.reveal .custom-concisao.visible {
    transform: scale(1) !important;
}
