.reveal blockquote {
    padding: 2em;
    display: block;
    position: relative;
}

.reveal blockquote:before,
.reveal blockquote:after {
    font-family: serif;
    font-size: 400%;
    opacity: 0.3;
    position: absolute;
}

.reveal blockquote:before {
    content: '“';
    left: 0;
}

.reveal blockquote:after {
    content: '”';
    bottom: 0;
    right: 0;
}

.reveal .custom-autor {
    margin-top: 1em;
}

.reveal .custom-versus {
    margin: 1em;
}

.reveal .custom-frase-efeito {
    position: absolute;
    font-size: 600%;
    text-transform: uppercase;
    font-family: 'League Gothic';
    text-shadow: 1px 1px rgba(0,0,0,0.6);
}

.reveal .custom-frase-efeito-parte {
    display: block;
    height: .75em;
}

.reveal .custom-clareza {
    bottom: 50%;
    left: 19%;
    color: rgba(230, 20, 20, 0.8);
}

.reveal .custom-clareza.visible {
    transform: rotate(-45deg) !important;
}

.reveal .custom-concisao {
    transform: scale(2) !important;
    color: rgba(20, 20, 230, 0.8);
    top: 45%;
    left: 15%;
}

.reveal .custom-concisao.visible {
    transform: scale(1) !important;
}

.reveal .custom-curto-conciso {
    top: 0;
    left: 0;
    color: rgba(255, 160, 20, 0.8);
    width: 100%;
}

.reveal .custom-joinha {
    position: absolute;
    left: 100%;
}

.reveal .custom-conclusao {
    margin-top: 1em;
    margin-bottom: .25em;
}

.reveal .custom-gets {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-20deg) !important;
    color: rgba(255, 20, 20, 0.8);
}

.reveal .custom-highlight {
    font-family: 'League Gothic';
    text-transform: uppercase;
    border: .125em solid #F00;
    border-radius: .25em;
    color: #F00;
    font-size: 200%;
    text-shadow: 0 0 .125em #CCC;
    box-shadow: 0 0 .25em #CCC;
    position: absolute;
}

.reveal .custom-highlight-job {
    text-indent: 55%;
    width: 50%;
    left: 6%;
    height: 28%;
    top: 37%;
}

.reveal .custom-highlight-job.visible {
    animation: pisca-um-pouco 0.5s 3;
    animation-delay: 1s;
}

@keyframes pisca-um-pouco {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.reveal .custom-highlight-espaco {
    width: 60%;
    text-indent: 65%;
    top: 57%;
    left: 6%;
}

.reveal .custom-grow {
    opacity: 1 !important;
}

.reveal .custom-grow.visible {
    font-size: 150%;
    margin: .1em;
}

.reveal .custom-quote-author {
    text-align: right;
    font-style: italic;
    opacity: 0.8;
    float: right;
}

.reveal .custom-quote-author:before {
    content: '--';
}

.reveal .custom-highlight-ids {
    width: 23%;
    top: 53%;
    text-indent: 28%;
    left: 40%;
    height: 30%;
}

.reveal .custom-highlight-ids2 {
    width: 23%;
    top: 53%;
    text-indent: 28%;
    left: 40%;
    height: 20%;
}

.reveal .custom-page-object {
    top: 50%;
    left: 50%;
    line-height: 100%;
    transform: translate(-50%, -50%) !important;
    color: rgba(20, 255, 20, 0.8);
}

.reveal .custom-img {
    height: 60vh;
    border: none;
    padding: 1%;
}
